# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment / secrets
.env
.env*.local
.env.development
.env.test
.env.production

# keep template example
!.env.example

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
